<mat-toolbar class="main-menu">
    <div *ngFor="let item of myMenuRoutes">

        <div *ngIf="item.type == 0" class="left-menu-item">
            <button mat-icon-button (click)="goToPage(item)">
                <mat-icon>{{item.icon}}</mat-icon>
            </button>
        </div>
    </div>
    <div class="center-menu-item">
        <span class="modeDevIcon" *ngIf="this.isDevMode">{{environment.appTitle}}</span>
        <span *ngIf="!this.isDevMode">{{environment.appTitle}}</span>
    </div>
    <div *ngFor="let item of myMenuRoutes">
        <div *ngIf="item.type == 2" class="right-menu-item">
            <button mat-icon-button (click)="goToPage(item)">
                <mat-icon>{{item.icon}}</mat-icon>
            </button>
        </div>
    </div>

</mat-toolbar>


