.main-menu {
    margin: 0;
    padding: 10px;
    width: 100%;
    display: flex;
}

.left-menu-item {
    flex: 1;
}

.right-menu-item {
    flex: 1;
}

.center-menu-item {
    flex: 3;
    text-align: center;
}

.modeDevIcon {
    animation: blinker 2s linear infinite;
    font-weight: bold;
    color: var(--main-accent-color);
    text-align: center;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

