<p>project-page works!</p>
<form>
    <mat-form-field class="search-form">
        <input type="text" matInput>
    </mat-form-field>
</form>

<button mat-raised-button (click)="fileInput.click()">Convert project</button>
<input #fileInput type="file" (change)="convertAbletonProject($event)" style="display:none" />

<br>
<br>


<button mat-raised-button (click)="folderInput.click()">Upload project</button>
<input #folderInput type="file" webkitdirectory directory multiple (change)="uploadFolder($event)" style="display:none" />

<br>
<br>


<button mat-raised-button (click)="getUserProjects()">List projects</button>
<div>
    <ul>
        <li *ngFor="let projectName of userProjects">{{projectName}}</li>
    </ul>
</div>
